-extends "smartmin/update.html"

-load smartmin i18n

-block title
  -trans "Update WhatsApp Business Profile" 

-block subtitle
  -trans "WhatsApp Settings Details"

-block extra-style
  {{ block.super }}

  :css
    textarea {
        padding: 10px;
        min-height: 8rem;
        max-height: 12rem;
        width: 100%;
    }