-extends "smartmin/update.html"

-load smartmin i18n

-block title
  -trans "Update WhatsApp Profile Photo" 

-block subtitle
  -trans "WhatsApp Settings Details"  

-block form
  %form#import-form(method="post" enctype="multipart/form-data")
    -csrf_token

    -if form.non_field_errors
      .text-error.py-2
        {{ form.non_field_errors }}

    -block fields
      .mt-4.mb-6.text-error
        {{ form.photo.errors }}
      #file-upload
        %input(type="file" name="photo" id="import-file" onchange='onFileChange()')
      #real-button.flex.mb-4
        %input(type="text" id="file-field")
        .button-light.ml-4(style="margin-top:-1px")
          -trans "Choose Photo"

    -block form-buttons
      .flex
        %input.button-primary(type="submit" value='{{ submit_button_name }}')
        .ml-4.button-light(onclick="javascript:history.go(-1)")
          -trans "Cancel"


-block extra-script
  {{ block.super }}
  :javascript
    function onFileChange() {
      var file = $('#import-file').val();
      while (file.indexOf('\\') >= 0) {
        file = file.substring(file.indexOf('\\') + 1, file.length);
      }
      $('#file-field').val(file);
    }


-block extra-style
  :css
    input {
      padding: 9px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 3px 20px 0px, rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
    }

    #file-upload {
      position: relative;
    }

    #file_errors {
      font-size: 20px;
    }

    #real-button {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }

    #file-field {
      width: 300px;
      height: 35px;
      font-size: 16px;
      margin-bottom: 0px;
      border-radius: 5px;
    }

    #import-file {
      position: absolute;
      width: 450px;
      height: 35px;
      top: 0;
      left: 0;
      text-align: right;
      -moz-opacity:0 ;
      filter: alpha(opacity: 0);
      opacity: 0;
      z-index: 2;
    }
