{% extends "orgs/base/list.html" %}
{% load smartmin temba i18n %}

{% block title-text %}
  {% trans "Select WABA ID" %}
{% endblock title-text %}
{% block content %}
  <div class="mb-4">
    <div class="title">{% trans "Recommendations" %}</div>
    <div class="grid grid-cols-4 gap-4">
      {% for waba_id in waba_ids %}
        <div href="{% url 'channels.types.whatsapp.claim' %}?waba_id={{ waba_id }}"
               onclick="goto(event, this)"
               class="card link">
          <div class="flex flex-col mx-4 relative">
            <div class="title">{{ waba_id }}</div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
{% endblock content %}
{% block form-buttons %}
{% endblock form-buttons %}