{% extends "smartmin/read.html" %}
{% load smartmin temba humanize channels i18n tz %}

{% block content %}
  <div class="mt-4 card">
    <p id="fb-status">
      {% if not valid_token %}
        {% trans "Error with token, you need to reconnect the Instagram Business Account by clicking the button below" %}
      {% else %}
        {% trans "Everything looks good. No need to reconnect" %}
      {% endif %}
    </p>
    <div class="mt-4">
      <div onclick="javascript:history.go(-1)" class="button-light">{% trans "Go Back" %}</div>
      <a class="button-primary mt-4 ml-2" href="{{ update_token_url }}">{% trans "Reconnect Instagram Business Account" %}</a>
    </div>
  </div>
{% endblock content %}
