/* ========== Widget Styles ========== */

/* Card Styles */

.card {
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: var(--widget-box-shadow);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
}

.card .title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.card .bleed-t {
  margin-bottom: 1.5rem;
  margin-top: -1.5rem;
}

.card .bleed-r {
  margin-left: 1.5rem;
  margin-right: -1.5rem;
}

.card .bleed-l {
  margin-right: 1.5rem;
  margin-left: -1.5rem;
}

.card .bleed-b {
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.card .bleed-x {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.card .bleed-y {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.card.link {
  cursor: pointer;
}

.card.link:hover {
  box-shadow: var(--widget-box-shadow-focused);
}

/* Button Styles */

.button-primary {
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  margin-top: 1px;
  color: rgb(255, 255, 255);
  background: var(--color-primary-dark) !important;
  border: none;
}

.button-primary:active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.button-primary:hover {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.button-light {
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  margin-top: 1px;
  background-color: rgb(247, 247, 247);
  color: rgb(113, 113, 113);
}

.button-light:active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.button-light:hover {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* File Input Widget Styles */

#file-upload {
  position: relative;
}

#file-field {
  width: 300px;
  font-size: 16px;
  margin-bottom: 0px;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
  border: 1px solid var(--color-widget-border);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 20px 0px, rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
}

#import-file,
#id_po_file,
input[type='file'][id='file'] {
  position: absolute;
  width: 450px;
  height: 35px;
  top: 0;
  left: 0;
  text-align: right;
  -moz-opacity: 0;
  filter: alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

#real-button {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Form Controls */

.control-group {
  margin-bottom: var(--control-margin-bottom);
}
