-extends 'smartmin/form.html'

-block modal-extra-script
  {{ block.super }}
  :javascript
    $(function() {
      $('text[name="name"]').change(function (){
        console.log("name=" + name);
      });
    });

-block modal-extra-style
  {{ block.super }}

  :css
    #id_value {
      --textarea-height: 110px;
    }
