{% extends "smartmin/read.html" %}
{% block content %}
  <temba-chart header="Tickets Opened"
               url="{% url 'tickets.ticket_chart' 'opened' %}"
               dataname="Topics"
               config
               xtype="time"
               legend>
  </temba-chart>
  <temba-chart class="mt-6"
               header="Response Time"
               url="{% url 'tickets.ticket_chart' 'resptime' %}"
               dataname="Average Response"
               single
               colorIndex="2"
               xtype="time"
               ytype="duration">
  </temba-chart>
{% endblock content %}
